<%layout("/layouts/boilerplate")%>
<style>

body {
    background-image: url("https://b.zmtcdn.com/data/pictures/6/20716096/eac20bec0d22096d0ea867fa46fc2ed3.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
}

.bg-image {
    background-color: rgba(0, 0, 0, 0.5); /* Add some transparency for better readability */
    padding: 50px 0; /* Adjust padding as needed */
}

.text-white {
    color: #fff; /* Set text color to white */
}

</style>
<section class="container py-5">
    <h2 class="mb-4">About Food & Fun</h2>
    <p>Welcome to Our Hotel, where comfort meets luxury. We pride ourselves on providing exceptional service and creating unforgettable experiences for our guests.</p>
    <p>Our dedicated team is committed to ensuring your stay is nothing short of perfect. From our cozy rooms to our top-notch amenities, we strive to exceed your expectations at every turn.</p>
    <p>Discover the beauty of our surroundings and indulge in the finest cuisine at our onsite restaurant. Whether you're here for business or leisure, Your Hotel is your home away from home.</p>
</section>